* {
    box-sizing: border-box;
  }
  
  body {
    font-family: "outfit";
    background-color: rgb(12, 12, 58) !important;
    margin: 0;
    overflow-x: hidden; /* Add this line */    
  }
  
  .nav {
    font-size: inherit !important;
    font-weight: 800;
    font-family: inherit;
    height: 100%;
    width: 100%;
    background-color: rgb(12, 12, 58);
    position: relative;
    border-bottom: 2px solid transparent;
    border-color: white;
  }
  
  .nav > .nav-header {
    display: inline;
  }
  
  .nav > .nav-header > .nav-title {
    display: inline-block;
    font-size: 30px;
    color: #fff;
    padding: 13px 13px 13px 13px;
  }
  
  .nav > .nav-btn {
    display: none;
    margin-top: 10px;
  }
  
  .nav > .nav-links {
    margin-top: 15px;
    display: inline;
    float: right;
    font-size: 25px;
  }
  
  .nav > .nav-links > a {
    margin-top: 10px;
    padding: 30px;
    text-decoration: none;
    color: #efefef;
  }
  
  .nav > .nav-links > a:hover {
    top:0;
    bottom: 0;
    background-color: rgb(12, 12, 58);
  }
  
  .nav > #nav-check {
    display: none;
  }
  
  @media (max-width:980px) {
    .nav > .nav-btn {
      display: inline-block;
      position: absolute;
      right: 0px;
      top: 0px;
    }

    .nav > .nav-btn > label {
      display: inline-block;
      width: 50px;
      height: 50px;
      padding: 13px;
    }
    .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
    background-color: rgb(12, 12, 50);        
    }
    .nav > .nav-btn > label > span {
      display: block;
      width: 25px;
      height: 10px;
      border-top: 1px solid #eee;
    }
    .nav > .nav-links {
      position: absolute;
      display: block;
      width: 100%;
      background-color: rgb(12, 12, 50);
      height: 0px;
      transition: all 0.3s ease-in;
      overflow-y: hidden;
      top: 50px;
      left: 0px;
    }
    .nav > .nav-links > a {
      display: block;
      width: 100%;
    }
    .nav > #nav-check:not(:checked) ~ .nav-links {
      height: 0px;
    }
    .nav > #nav-check:checked ~ .nav-links {
      height: calc(100vh - 50px);
      overflow-y: auto;
    }
  }
  .typewrite{
    font-size: 40px;    
    color: cyan !important;
  }
  .tw {
    margin-left: 10px;
    font-size: 40px;
    font-family: inherit !important;
    font-weight: 800;
    color:white !important;
  }

  .about{
    padding-left: 10px;
    color: white !important;
    font-family: inherit !important;
  }

 .container{
  display: block;
  float: right;
  margin-top: -500px;
  margin-left: auto;
  margin-right: -130px;
 }

 @media only screen and (max-width: 1200px) {
  img {
  width:100%;
  height:100%;
  margin-left: 200px;
  
  }
  }

 @media only screen and (max-width: 1200px) {
  .container {
    
    max-width: 100%; /* Adjust the percentage to make the image smaller */
    max-height: 100%;
    margin-top: -30px; /* Adjust as needed for bottom positioning */
    margin-left: -200px; /* Adjust as needed for left positioning */
    float: left; /* Adjust as needed for left positioning */
  }
} 
  